#board {
    background-color: black;
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    grid-gap: 5px;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 5px;
}

#board div {
    background-color: salmon;
    text-align: center;
    line-height: 130px;
    font-size: 30px;
    border-radius: 3px;
    cursor: pointer;
}

#board div:active {
    box-shadow: 0 0 5px black inset;
    opacity: 0.95;
}
